.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid #fcfcfc;
    border-radius: 10px;
    padding: 2.5% 5%;
    background-color: white;
}

.form h2 {
    margin-bottom: 20px;
    color: #333;
}

.form input,
.form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.form input:focus,
.form select:focus {
    border-color: #007bff;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.login-link {
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}